

.list-group {
    position: relative;
    left: 0;
    top: 12%;
    width: 100%;
    height: 80px;
    margin: 10px auto 0;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

.list-group .list-group-item-f  {
    display: flex;
    justify-content: space-between;
    background: white;
    border-top: 2px solid #a5aaad;
    border-bottom: 2px solid #a5aaad;
    padding: 20px;
    transition: 0.5s;
}

.list-group .list-group-item-nf  {
    display: flex;
    justify-content: space-between;
    background: white;
    border-bottom: 2px solid #a5aaad;
    padding: 24.95311px;
    transition: 0.5s;
}

#dc-ispdf-verify {
    position: relative;
    width: 30px;
    left: 20px;
}

#dc-isfolder-verify {
    position: relative;
    width: 35px;
    left: 15px;
}

#expanded-options-downloads-folder {
    position: relative;
    left: 4.5px;
}

#timesave-downloads-f {
    position: relative;
    left: 30%;
    font-size: 14px;  
}

#timesave-downloads-nf {
    position: relative;
    left: 30%;
    font-size: 14px;
    top: 4.4px;  
}