main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.main__container {
  padding: 20px 35px;
}

.neuigkeiten-container {
  background-color: white;
  width: 95%;
  position: relative;
  margin: 0 auto;
  height: 840px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.neuigkeiten-container > h1 {
  color: black;
  text-align: center;
}

@media only screen and (max-width: 855px) {
  .main__container {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
}
