@font-face {
    font-family: "Volte";
    src: url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.eot");
    src: url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.svg#Volte")
        format("svg");
}


#urlaubsmethoden {
    position: absolute;
    top: 15%;
    left: 20%;
    padding-left: 10px;
}

#urlaubsmethoden input {
    margin-left: 100px;
} 

#urlaubsmethoden label {
    font-size: 22px;
    margin-left: 10px;
}

#urlaubsdaten input {
    position: absolute;
    top: 25%;
    font-size: 20px;
}


.von-field {
    left: 28%;
}

.bis-field {
    left: 52%;
}

#urlaubsdaten label {
    position: absolute;
    top: 25.3%;
    font-size: 20px;
}

#label-von-field {
    left: 24.5%;
}

#label-bis-field {
    left: 49%;
}


#message-field-urlaubsantrag {
    position: absolute;
    top: 38%;
    left: 24%;
    width: 45%;
    height: 30%;
    resize: none;
    border: 1px solid #a5aaad;
    border-radius: 5px 5px 5px 5px;
    outline: 0;
}


#info-text-urlaubsantrag {
    position: absolute;
    top: 70%;
    left: 25%;
}


#antrag-stellen-btn {
    font-family: "Volte", Medium, sans-serif;
    font-size: 95%;
    font-weight: 600;
    position: absolute;
    top: 85%;
    left: 40%;
    width: 120px;
    height: 6%;
    border-radius: 20px 20px 20px 20px;
    background-color: #0046FE;
    color: white;
    border: 0;
}

#antrag-stellen-btn:hover {
    background-image: linear-gradient(to right, #0546c0, #103579);
}
