@font-face {
    font-family: "Volte";
    src: url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.eot");
    src: url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.eot?#iefix")
              format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.woff2")
              format("woff2"),
         url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.woff")
              format("woff"),
         url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.ttf")
              format("truetype"),
         url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.svg#Volte") 
              format("svg");
}

.urlaubsantrag-container {
    font-family: "Volte", Medium, sans-serif;
    position: absolute;
    top: 12.4vh;
    left: 10%;
    width: 80%;
}

.grundgeruest-container4{
    background-color: white;
    position: absolute;
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 5vh;
    left: 5%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.tariflich{
    display: block;
    text-align: center;
    line-height: 150%;
}

.tariflich2{
    margin-bottom: 1vh;
    display: block;
    text-align: center;
    line-height: 150%;
}

.sonder{
    display: block;
    text-align: center;
    line-height: 150%;
}

.sonder2{
    margin-bottom: 1vh;
    display: block;
    text-align: center;
    line-height: 150%;
}




.von-field {
    margin-top: 4vh;
}

.von-field2 {
    margin-top: 2.5vh;
    
}

.von {
    display: block;
    text-align: center;
    line-height: 150%;
}


#label-von-field {
    top: 25.3%;
}




.bis-field {
    margin-top: 4vh;
}

.bis-field2 {
    margin-top: 2.5vh;
}

.bis {
    display: block;
    text-align: center;
    line-height: 150%;
    margin-bottom: 25px;
}


#label-bis-field {
    top: 25.3%;
}




#message-field-urlaubsantrag {
    resize: none;
    width: 100%;
    height: 30px;
    border: 0;
    outline: 0;
    border: 1px solid #a5aaad;
    border-radius: 5px 5px 5px 5px;
    margin-top: 4.5vh;
    margin-bottom: 2.7vh;
    padding-bottom: 140px;
}

#message-field-urlaubsantrag2 {
    resize: none;
    width: 100%;
    height: 30px;
    border: 0;
    outline: 0;
    border: 1px solid #a5aaad;
    border-radius: 5px 5px 5px 5px;
    margin-top: 1.8vh;
    margin-bottom: 2.8vh;
    padding-bottom: 140px;
}


#antrag-stellen-btn {
    font-family: "Volte", Medium, sans-serif;
    font-weight: 600;
    width: 172px;
    height: 37px;
    color: white;
    border: 0;
    border-radius: 20px;
    background-color: #0046FE;
    margin-top: 27px;
    margin-bottom: 8vh;
}

#antrag-stellen-btn:hover {
    background-image: linear-gradient(to right, #0546c0, #103579);
}

#antrag-stellen-btn2 {
    font-family: "Volte", Medium, sans-serif;
    font-weight: 600;
    width: 172px;
    height: 37px;
    color: white;
    border: 0;
    border-radius: 20px;
    background-color: #0046FE;
    margin-top: 30px;
    margin-bottom: 4vh;
}

#antrag-stellen-btn2:hover {
    background-image: linear-gradient(to right, #0546c0, #103579);
}