@font-face {
    font-family: "Nirmala UI Semilight";
    src: url("//db.onlinewebfonts.com/t/b5eae9bab2129f4acd5fcd349dc804fe.eot");
    src: url("//db.onlinewebfonts.com/t/b5eae9bab2129f4acd5fcd349dc804fe.eot?#iefix")
              format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/b5eae9bab2129f4acd5fcd349dc804fe.woff2")
              format("woff2"),
         url("//db.onlinewebfonts.com/t/b5eae9bab2129f4acd5fcd349dc804fe.woff")
              format("woff"),
         url("//db.onlinewebfonts.com/t/b5eae9bab2129f4acd5fcd349dc804fe.ttf")
              format("truetype"),
         url("//db.onlinewebfonts.com/t/b5eae9bab2129f4acd5fcd349dc804fe.svg#Nirmala UI Semilight")
              format("svg"); }

.list-group {
    position: relative;
    left: 5%;
    top: 12%;
    width: 90%;
    box-sizing: border-box;
}

.list-group-item-f {
    height: 78px;
}

.list-group-item-nf {
    height: 80px;
}

.list-group .list-group-item-f  {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #a5aaad;
    border-bottom: 2px solid #a5aaad;
    transition: 0.5s;
}

.list-group .list-group-item-nf  {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #a5aaad;
    transition: 0.5s;
}

#list-group-grey .list-group-item-f {
    background: #e2e8eb;
}

#list-group-grey .list-group-item-nf {
    background: #e2e8eb;
}

.dropdown-helper-downloads img{
    position: relative;
    top: 25px;
    right: 10px;
}

.inlinetext-handling-dw #dc-isfolder-verify {

    position: relative;
    left: 20px;
    width: 45px;
}

.inlinetext-handling-dw #dc-ispdf-verify {

    position: relative;
    left: 20px;
    width: 40px;
}

.inlinetext-handling-dw #namefv-downloads-f {

    position: absolute;
    align-self: center;
    left: 15%;
    font-size: 20px;
}

.inlinetext-handling-dw #namefv-downloads-nf {

    position: absolute;
    align-self: center;
    left: 15%;
    font-size: 20px;
}

.inlinetext-handling-dw #timesave-downloads-f {

    position: absolute;
    align-self: center;
    right: 15%;
}

.inlinetext-handling-dw #timesave-downloads-nf {

    position: absolute;
    align-self: center;
    right: 15%;
}

.dropdown-content-downloads {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.dropdown-content-downloads a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-downloads a:hover {
    background-color: #ddd;
}

.dropdown-helper-downloads:hover .dropdown-content-downloads {
    display: block;
}