@font-face {
  font-family: "Volte";
  src: url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.eot");
  src: url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.svg#Volte")
      format("svg");
}

/* Text: "Willkommen auf"*/
#text-1 {
  font-family: "Volte", Regular, sans-serif;
  font-size: 29px;
  color: #808080;
}

/* Text: "Workmanager" */
#ueberschrift-1 {
  font-family: "Volte", semi-bold, sans-serif;
  font-size: 36px;
  color: black;
}

/* Text: "Geben Sie bitte Ihren Benutzernamen sowie Ihr Passwort ein und bestätigen Sie das reCAPTCHA" */
#text-2 {
  font-family: "Volte", semi-bold, sans-serif;
  font-size: 10px;
  color: black;
  margin-bottom: 10%;
}

/* Linker Container für "Einlogg"-Option */

#login-container {
  position: fixed;
  width: 30%;
  height: 90%;
  left: 5%;
  top: 5%;
  border-radius: 25px;
  background-color: #ffffff;
}

/* Rechter Container -> Illustration */
#login-illustration {
  position: fixed;
  left: 50%;
  top: 15%;
  height: 70%;
}

#login-btn {
  background-color: #0000ff;
  color: white;
  border-radius: 25px;
  border-width: 0px;
  width: 30%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#login-btn:hover {
  background-color: #5555ff;
}

#login-btn-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-text {
  margin-left: 15%;
  margin-right: 15%;
}

.login-text-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
