@font-face {
    font-family: "Volte";
    src: url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.eot");
    src: url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.eot?#iefix")
              format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.woff2")
              format("woff2"),
         url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.woff")
              format("woff"),
         url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.ttf")
              format("truetype"),
         url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.svg#Volte") 
              format("svg");
}

#position-text-einstellungen {
    font-family: "Volte", Medium, sans-serif;
}

.text-field-altespasswort2{
    margin-top: 18px;
}

.text-field-emailadresse{
    margin-top: 15px;
}

.text-field-emailadresse2{
    margin-top: 18px;
}

#basic-input-einstellungen {
    font-family: "Volte", Medium, sans-serif;
    font-size: 20px;
    position: relative;
    height: 50%;
    width: 100%;
    left: 0;   
    outline: 0;
    margin-top: 10px;
    margin-bottom: 1.3em;
    border: 1px solid #a5aaad;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(212, 234, 240);
}

#speichern-einstellungen-btn {
    font-family: "Volte", Medium, sans-serif;
    font-size: 90%;
    font-weight: 600;
    width: 172px;
    height: 37px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-radius: 20px;
    background-color: #0046FE;
}

#speichern-einstellungen-btn:hover {
    background-image: linear-gradient(to right, #0546c0, #103579);
}

#speichern-einstellungen-btn2 {
    font-family: "Volte", Medium, sans-serif;
    font-size: 90%;
    font-weight: 600;
    width: 172px;
    height: 37px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-radius: 20px;
    background-color: #0046FE;
    margin-bottom: 55px;
}

#speichern-einstellungen-btn2:hover {
    background-image: linear-gradient(to right, #0546c0, #103579);
}