
#basic-input-einstellungen {
    font-size: 15px;
    position: relative;
    margin-top: 10px;
    height: 50%;
    left: 0;   
    background-color: rgb(212, 234, 240);
    border: 1px solid #a5aaad;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    outline: 0;
}



.field-strasse-container input{
    width: 265%;
}

.field-oldpw-container input{
    width: 200%;
}


.field-newpw-container input{
    width: 200%;
}


.field-newpwagain-container input{
    width: 150%;
}

.field-email-container input{
    width: 200%;
}


@media only screen and (max-width: 1200px) {
    .field-vorname-container {
        top: 25% !important;
        left: 10% !important;
    }

    .field-nachname-container {
        top: 37% !important;
        left: 10% !important;
    }


    .field-strasse-container {
        top: 47% !important;
        left: 10% !important;
    }


    .field-plz-container {
        top: 59% !important;
        left: 10% !important;
    }

    input {
        width: 145% !important;
    }

    .field-stadt-container {
        top: 71% !important;
        left: 10% !important;
    }

    #speichern-einstellungen-btn {
        top: 85%; 
    }
}