
.profile-first-container {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 50%;
    height: 100%;
}

.profile-first-container h1 {
    color: black;
}


.profile-input-container {
    position: absolute;
    top: 50%;
    padding: 10px;
}

#horizontal-trenner-e {
    position: absolute;
    left: 99%;
    top: 0%;
    background-color: gray;
    border: 3px solid gray;
}