@font-face {
  font-family: "Volte";
  src: url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.eot");
  src: url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/265ea857723a2700ebb3db3af7301a2a.svg#Volte")
      format("svg");
}

html, body {
  background-color: #FAFAFA;
  height: 100%;
}

/* Linker Container für "Einlogg"-Option */
#login-container {
  position: fixed;
  width: 30%;
  height: 75%;
  left: 5%;
  top: 12.5%;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1);
}

#login-logo {
  width: 35%;
  height: 35%;
  margin-top: 13%;
}

.login-text {
  line-height: 80%;
}

/* Text: "Willkommen auf"*/
#text-1 {
  font-family: "Volte", Regular, sans-serif;
  font-size: 29px;
  color: #808080;
  margin: 0% 0% 0% 12.5%; /* Oben rechts unten links */
}

/* Text: "Workmanager" */
#ueberschrift-1 {
  font-family: "Volte", semi-bold, sans-serif;
  font-size: 36px;
  color: black;
  margin-left: 12.5%;
  margin-top: 4%;
}

/* Text: "Geben Sie bitte Ihren Benutzernamen sowie Ihr Passwort ein und bestätigen Sie das reCAPTCHA" */
#text-2 {
  font-family: "Volte", semi-bold, sans-serif;
  font-size: 17px;
  color: black;
  margin-left: 12.5%;
  margin-top: 6%;
  line-height: 125%;
}

.login-text-area {
  width: 74%;
  margin-left: 12.5%;
  border-radius: 15px;
  border-style: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}


#passwort {
  margin-top: 0.5%;
}

.login-text-area:first-child {
  margin-top: 5%
}

.psw {
  margin-left: 65%;
}

/* Rechter Container -> Illustration */
#login-illustration {
  position: fixed;
  right: 12.5%;
  top: 15%;
  height: 70%;
}

#login-btn {
  background-color: #0000ff;
  color: white;
  border-radius: 25px;
  border-width: 0px;
  width: 142px;
  height: 45px;
  text-align: center;
  padding: 0px;
}

#login-btn:hover {
  background-color: #5555ff;
}

#login-btn-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-text-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}


